
:root {
  /* --vp-font-family-base: "ABeeZee", sans-serif !important; */
  /* --vp-font-family-base: "Crimson Pro", sans-serif !important; */
  --vp-font-family-base: "Dancing Script", sans-serif !important;
}